html,
body,
header,
.view{
  height: 100%;
}
#intro {
  background-image: url("https://farm4.staticflickr.com/3836/14171298650_163e963306_b.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  filter: brightness(70%);
}
.mask {
  padding-top: 300px;
}

button i{
  color: white;
  font-size: 60px;
}
button {
  background-color: rgba(0, 0, 0, 0.00001);
  border: none;
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
}

input {
  border:0;
  border-bottom: 4px solid #6F5E76;
  display:block;
  width: 70%;
  padding-bottom: 25px;
}
#contact button{
  border-style: outset;
}
.display-4{
  text-decoration: underline;
  text-align: center;
  text-shadow: 2px 2px #932F6D;
  font-family: fantasy;
}
footer{
  text-align: center;
  font-variant: small-caps;
  background-color: #000000;
  color: #FFFFFF;
}
#Services{
  background-color: #B47EB3;
}
h2{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
h4{
  color: #420039;
}
#Contact{
  background-color: #E1DEE3;
}
#Projects{
  background-color: #CFC0BD;
}
*:hover{
  color:#3C153B;
}
a:hover{
  color: #D33F49;
}
